*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Azeret Mono',
    monospace, 'Noto Sans TC', sans-serif;
}

.swiper-slide {
  border-radius: 0.5rem !important;

  &:hover {
    background-color: $color-white  !important;
    color: $color-black  !important;
    transition-duration: 0.5s;
  }
}