.bdrs-4 {
  border-radius: 0.25rem; //4px
}

.bdrs-8 {
  border-radius: 0.5rem; //8px
}

.bdrs-10 {
  border-radius: 0.625rem; //10px
}

.bdrs-12 {
  border-radius: 0.75rem; //12px
}

.bdrs-24 {
  border-radius: 1.5rem; //24px
}

// datapicker
.datepicker-cell:not(.disabled):hover {
  background-color: $gray-300;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: $gray-300;
  color: $color-primary;
}