@mixin baseline($left, $color) {
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: $color;
    bottom: 0;
    left: $left;
    transform: translateX(-$left);
  }
}

@mixin bg-cover {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-900, 0.7);
  }
}

@mixin text-bg-linear {
  background: linear-gradient($color-secondary, $color-primary);
  -webkit-background-clip: text;
  background-clip: text;
}

@mixin btn-bg-linear {
  background: linear-gradient(104deg, $color-secondary, $color-primary);

  &:hover {
    background: linear-gradient(104deg, rgba($color-secondary, 0.8), rgba($color-primary, 0.8));
  }
}

%bg-cover-hoverStyle {

  &:hover,
  &.active {
    &::after {
      width: 0%;
      height: 0%;
    }

    span {
      color: $color-primary
    }

    .title {
      @include baseline(0%, $color-primary)
    }

    p:last-child {
      color: $color-white;
    }
  }
}

@mixin sm {
  @media (min-width:576px) {
    @content
  }
}

@mixin md {
  @media (min-width:768px) {
    @content
  }
}

@mixin xl {
  @media (min-width:992px) {
    @content
  }
}