$color-primary: #62DB54;
$color-secondary: #09ACF5;
$color-white: #fff;
$color-black: #000;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #7C7E77;
$gray-500: #494755;
$gray-600: #909090;
$gray-700: #202020;
$gray-800: #1A1A1A;
$gray-900: #1C1C1C;

$gray-light-100: #00000012;
$gray-light-200: #49475514;
$gray-light-300: #00000019;
$gray-light-400 :#CDD0C4;
$gray-light-500: #C1C1C1;
$gray-light-600: #00000034;