.header {
  margin-top: 5.625rem;
  height: calc(100vh - 5.625rem);
  background: url('../../../assets/images/bg_home.jpg') bottom / cover;

  &__banner {
    &-titleWrap {
      @include text-bg-linear;
      color: transparent;
    }
  }

  &__dot {
    width: 0.625rem;
    height: 0.625rem;
    background-color: #fff;
  }
}