.nav {
  height: 5.625rem;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, $color-primary 0%, $color-primary 50%, $color-secondary 50%, $color-secondary 100%);
  }

  &__wrap {
    height: 100%;
  }

  &__logo {
    line-height: 5.625rem;

    &-1 {
      width: 1.5rem;
    }

    &-2 {
      width: 10.875rem;
    }
  }

  &__ham {
    width: 1.5rem;
    height: 50%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;
      transform: translate(0, -40%);
      width: 1rem;
      border-top: 3px solid $color-primary;
    }

    &::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 0;
      transform: translate(0, -60%);
      width: 1rem;
      border-top: 3px solid $color-primary;
    }
  }

  &__menu {
    line-height: 5.625rem;
  }

  &__item {
    &:hover {
      transform: scale(1.2);

      a:any-link {
        color: $color-primary;
      }
    }
  }
}