.class {
  margin-top: 5.625rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  // 課程簡介
  .brief {
    margin-bottom: 2.8125rem; //45px

    &__whatToLearn {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        border-left: 2px solid $color-primary;
        width: 1rem;
        height: 100%;
        top: 0;
        left: -0.5rem;
      }
    }

    &__learn {
      list-style: square;

      li::marker {
        color: $color-primary;
      }
    }
  }

  // 價位表
  .classPrice {
    &__dot {
      width: 0.625rem;
      height: 0.625rem;
      background-color: #fff;
    }

    &__next {
      width: 2rem;
      height: 2rem;
      @include btn-bg-linear;
    }
  }
}