.course {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .title {
    position: relative;
    @include baseline(50%, $color-primary);
  }
}

.hotCourse {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .title {
    position: relative;
    @include baseline(50%, $color-primary);
  }

  .card {
    &__pic {
      height: 6.25rem;
      width: 6.25rem;
    }

    &:hover {
      border: 1px solid $color-primary;
    }
  }

  &__btn {
    @include btn-bg-linear;
  }
}