.essays {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .title {
    position: relative;
    @include baseline(50%, $color-primary);
  }

  .card {
    &__rounded {
      display: none;
      width: 2rem;
      height: 2rem;

      &-leftTop {
        border-top-left-radius: 0.75rem;
        border-top: 2px solid $color-primary;
        border-left: 2px solid $color-primary;
      }

      &-rightTop {
        border-top-right-radius: 0.75rem;
        border-top: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
      }

      &-leftBottom {
        border-bottom-left-radius: 0.75rem;
        border-bottom: 2px solid $color-primary;
        border-left: 2px solid $color-primary;
      }

      &-rightBottom {
        border-bottom-right-radius: 0.75rem;
        border-bottom: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
      }
    }

    &:hover,
    &.active {
      .card__rounded {
        display: block;
      }
    }
  }
}