.points {
  &__point {
    height: calc(100vh - 5.625rem);
    width: 100%;
    position: relative;

    &-content {
      .title {
        z-index: 1;
        position: relative;
        @include baseline(0%, $color-white);
      }
    }

    &-bg1 {
      background: url('../../../assets/images/info01.jpg') center / cover;
      @include bg-cover;
      @extend %bg-cover-hoverStyle;
    }

    &-bg2 {
      background: url('../../../assets/images/info02.jpg') center / cover;
      @include bg-cover;
      @extend %bg-cover-hoverStyle;
    }

    &-bg3 {
      background: url('../../../assets/images/info03.jpg') center / cover;
      @include bg-cover;
      @extend %bg-cover-hoverStyle;
    }

    &-bg4 {
      background: url('../../../assets/images/info04.jpg') center / cover;
      @include bg-cover;
      @extend %bg-cover-hoverStyle;
    }
  }

  @include md {
    .points {
      &__point {
        width: 50%;
      }
    }
  }

  @include xl {
    .points {
      &__point {
        width: 25%;
      }
    }
  }
}