.steps {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .title {
    position: relative;
    @include baseline(50%, $color-primary);
    margin-bottom: 3.125rem;
  }

  &__content {
    margin-top: -2rem;
  }
}