.tutorial {
  margin-top: 5.625rem;

  img {
    max-width: 6.25rem;
  }

  &-swiper {
    padding-top: 2.75rem; //44px 
  }

  &__cards {
    padding-bottom: 5rem;
  }

  &__btn {
    @include btn-bg-linear;
  }
}